body{
    background-color:#122e38;
    color:#122e38;
    font-family: 'Raleway', sans-serif;
}

img{
    width:40%;
    margin: 50px 0 50px 30%;
    border-style: solid;
    border-color: #17252A;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);;
}

h1{
    font-size:4em;
    font-weight:800;
}
h2{
    font-size:2em;
}
h3{
    color: #122e38;
}

a{
    text-decoration: none;
    color: #FEFFFF;
}

.fila{
    display:flex;
}

.columna-primera{
    width: 33%;
    background-color:#2B7A78;
    color:#DEF2F1;
}

.columna-segunda{
    width: 67%;
    background-color: #DEF2F1;
    color: #2B7A78;
}

.columna-contenedor{
    padding: 100px;
}

@media (min-width: 768px) {
    .columna-primera{
        height: 98vh;
    }

    .columna-segunda{
        height: 98vh;
    }
}
/* #FEFFFF */